@charset "utf-8";
/*Logo Rules:
Print - 30mm of total horizontal length
Digital reproduction - 150px of total horizontal length

Main Colour palette:
Blue - #6594C2
Teal #0F394B
Tan #BEA692
Red #420A09
Rose #7D0226
White #F0F1F2
Black #000000

Typeface Rules:

h1-6 
font-family: 'Oswald', sans-serif; (bold 700)

body
font-family: 'Montserrat', sans-serif; (regular 400, regular 400 italic)

Text no smaller than 13px except items such as disclaimers and footers
All caps. may be used for short length labels, menus and headings. NOT long sections of text.*/

/* Global CSS Styles */
header, footer, a{
  display:block;
}
html, body{
  margin: 0 auto;
  max-width: 1024px;
  height:800px;
  font-family: 'Montserrat', sans-serif;
}
header{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 0 auto;
}
/* Other CSS Styles */
div.slogan_and_logo{
  color: white;
  background-color: #0F394B; 
  float:left;
}
img.slogan_and_logo{
  height:200px;
  width:200px;
  background-image:"image/sspt_logo_square_sml.jpg";
  border-radius:50%;
  padding: 20px;
  display:block;
  float: left;
}
h1.slogan_and_logo{
  font-size: 2.0em;
  padding-top: 60px;
  padding-left: 400px;
  padding-right: 255px;
}
h2.slogan_and_logo{
  color: #BEA692;
  font-size: 1.5em;
  padding-left: 400px;
  padding-right: 200px;
}
.button {
  background-color: #420A09;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

nav{
  background-color: #0F394B;
  font-family: 'Montserrat', sans-serif;
 }
a{
  background-color: #420A09;
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 15px; 
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content:" ";
  clear:both;
  height: 0;
  font-size: 0;
}
a:hover{
  background-color: #0F394B;
}
section.clearfix {
  background-color: #BEA692;
}
#main {
  background-color: #F0F1F2;
  padding: 20px;
  float:left;
  width:56%;
}
#gallery {
  background-color:#BEA692B;
  padding: 20px;
  float:right;
  width:35%;
}
.button{
  float:right;
}
.bridge{
  width:75%;
  text-align: center;
}
.bondi{
  width:95%;
  text-align: center;
}
.wooloomooloo_dining{
  width:95%;
  text-align: center;
}
.darling_harbour{
  width:95%;
  text-align: center;
}
.kuringai {
  width:95%;
  text-align: center;
}
.narrabeen_lakes
{
  width:95%;
  text-align: center;
}
.manly_beachfront{
  width:90%;
  text-align: center;
}
footer.clearfix{
  background-color: #0F394B;
  padding:20px;
}
div#left{
  background-color:#BEA692;
  border: 1px black solid;
  padding: 20px;
  float: left;
}
div#right{
  background-color:#6594C2;
  border: 1px black solid;
  padding: 20px;
  float: right;
}