@charset "utf-8";
/*Logo Rules:
Print - 30mm of total horizontal length
Digital reproduction - 150px of total horizontal length

Main Colour palette:
Blue-Grey #B6CDEF
Steele-Grey #707E8B
Light-Grey #BDCADA
Bronze #A78648
Tan #8D6A4B
Red #420A09
Rose #8E2C2C
White #DAD8DB

Typeface Rules:
Heading typeface -
Primary typeface - Arial
Text no smaller than 13px except items such as disclaimers and footers
All caps. may be used for short length labels, menus and headings. NOT long sections of text.*/

/* Global CSS Styles */
header, div, footer, nav, a {
        display:block;
}
html, body{
        margin: 0 auto;
}
header{
  background-color: #fffff;
  color: #8E2C2C;
  text-align: center;
}
#slogan{
  background-color: #B6CDEF;
  color:#8E2C2C;
}
body{
  font-family: Arial;
  color:#707E8B;
  background-color:#fffff;
  height:800px;
}
nav{
  background-color:#A88445;
  color: #707E8B;

}
article{
  background-color:#E89C6C;
}
section{
  background-color: #BDCADA;
}
aside{
	background-color:#8D6A4B;
}
footer{
  background-color: #707E8B;
}
