
@charset "utf-8";
/*Logo Rules:
Print - 30mm of total horizontal length
Digital reproduction - 150px of total horizontal length

Main Colour palette:
Navy Blue #142643
Light Blue #82a5c4
Teal #0F394B rgb(15, 57, 75)
Tan #BEA692
Red #420A09 rgb(66, 10, 9)
Rose #7D0226
White #FFFFFF
Black #000000

Typeface Rules:

Logo
font-family: 'Agency FB' 

h1-6 
font-family: 'Oswald', sans-serif; (bold 700)

body
font-family: 'Montserrat', sans-serif; (regular 400, regular 400 italic)

Text no smaller than 16px except items such as disclaimers and footers
All caps. may be used for short length labels, menus and headings. NOT long sections of text.*/
* { margin:0; padding:0; box-sizing:border-box; }
/* Global CSS Styles 
  display:block;*/
body{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color:#142643;
  max-width: 1280px;
  margin: 0 auto;
}
header, nav, #tour_gallery, footer{
  width:100%;
} 
header{
  background-color: #142643;
}
h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  }
h1 {
  color: #82a5c4; 
  text-align: center;
  font-size: 3.00em;
  padding-top: 1.5em;
}
h2{
  color: #bea692;
  text-align: center;
  font-size: 2.5em;
}
h3{
  color: #bea692;
  text-align: center;
  font-size: 2.0em;
}
h4{
  color:#82a5c4;
  text-align: center;
  font-size: 1.5em;
}
.logo, .slogan, .partners{
  width:33.33%;
  float: left;
  text-align: center;
  margin-top: 2.0em;
  margin-bottom: 2.0em;
}
.partners{
 display:block;
 float:right; 
}
nav{
  background-color: #0F394B;
  font-family: 'Montserrat', sans-serif;
 }
nav a{
  background-color: #420A09;
  color: #bea692;
  text-decoration: none;
  display: block;
  float: left;
  padding: .94em; 
}
nav a:hover{
  background-color: #0F394B;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
#hero{
  background: url("../image/hero_seagull_lge.jpg") no-repeat;
  background-size: cover;
  width:100%;
  max-width: 100%;
  height:50em;
}
#hero h1{
  color: #142643;
  text-decoration: 
}
#main{
  background-color: #142643;
  color: #ffffff;
  margin: 3em 5em 3em 5em;
}
#main h3{
  display: block;
  text-align: center;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
}
#main h4{
  display: block;
  color: #82a5c4;
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 3.0em;
}
blockquote{
  font-style: italic;
  padding-bottom: 3.0em;
}
.name {
  text-align: left;
  color: #82a5c4;
}
.bridge, .parks, .bondi {
  display: block;
  float: left;
  width: 33.33%; 
}
 #tour_gallery img {
  border-radius: 50%;
  padding-right: .5%;
}
#button-booking {
  margin:1.75em 7.5em;
}
footer {
  padding-top: 1.75em;
  padding-bottom: 1.5em;
  background-color:#0F394B;
  color: #FFFFFF;
}
footer a {
  color: #82a5c4;
}
footer a:hover {
  color: #420a09;
}
.footer_col_1 {
  margin-left: 1.0em;
}
.footer_col_1,.footer_col_2,.footer_col_3 {
  width:32%;
  text-align: left; 
  float:left;
}
footer span {
  display: block;
  float:left;
  text-align: right;
}

/**@media only screen and (max-width: 1280px) and (min-width:1201)
{
  #hero{
    width:75%;
  }
  .bridge{
    width:75%;
  }
  .parks{
    width:75%;
  }
  .bondi{
    width:75%;
  }
  .bridge, .parks, .bondi{
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media only screen and (max-width:1200px) and (min-width:761);
{
  #hero {
    width:50%;
  }
  .bridge{
    width:50%;
  }
  .parks{
    width:50%;
  }
  .bondi{
    width:50%;
  }
}
@media only screen and (max-width:760px) and (min-width:)
{
  #hero {
    width:50%;
  }
  .bridge{
    width:50%;
  }
  .parks{
    width:50%;
  }
  .bondi{
    width:50%;
  }
}
**/