
@charset "utf-8";
/*Logo Rules:
Print - 30mm of total horizontal length
Digital reproduction - 150px of total horizontal length

Main Colour palette:
Navy Blue #142643
Light Blue #82a5c4
Teal #0F394B rgb(15, 57, 75)
Tan #BEA692
Red #420A09 rgb(66, 10, 9)
Rose #7D0226
White #FFFFFF
Black #000000

Typeface Rules:

h1-6 
font-family: 'Oswald', sans-serif; (bold 700)

body
font-family: 'Montserrat', sans-serif; (regular 400, regular 400 italic)

Text no smaller than 13px except items such as disclaimers and footers
All caps. may be used for short length labels, menus and headings. NOT long sections of text.*/

/* Global CSS Styles */
header, footer, a{
  display:block;
}
html, body{
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  background-color:#ffffff;
  color: #142643; 
}
header{
  width: 100%;
  padding-top: 1.5%;
}
#background-color{
  background-color:#142643;
}
h1 {
  color: #82a5c4; 
  text-align: center;
  font-size: 2.75em;
  padding-top: 1.5em;
}
h2{
  color: #bea692;
  text-align: center;
  font-size: 2.0em;
}
h3{
  color: #bea692;
  text-align: center;
  font-size: 1.5em;
}
.logo{
  width:33.33%;
  float: left;
  text-align: center;
}
.slogan{
  width:33.33%;
  float: left;
  text-align: center;
}
.partners{
  width:33.33%;
  float: left;
  text-align: center;
}
nav{
  background-color: #0F394B;
  font-family: 'Montserrat', sans-serif;
 }
nav a{
  background-color: #420A09;
  color: #bea692;
  text-decoration: none;
  display: block;
  float: left;
  padding: .94em; 
}
nav a:hover{
  background-color: #0F394B;
}
.clearfix:after{
  visibility: hidden;
  display: block;
  content:" ";
  clear:both;
  height: 0;
  font-size: 0;
}
.hero{
  text-align: center;
}
#main{
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
  color:#142643;
}
#main h2 {
  padding-top: 1.0em;
  padding-bottom: 1.0em;
}
/* Other CSS Styles 
.left_col{
  width:48%;
  margin: 0 auto;
  padding: .5em;
  float:left;
}
.right_col{
  width:48%;
  margin: 0 auto;
  padding: .5em;
  float:left;
}
*/ 
#main{
  width:100%;
  background-color:#FFFFFF;
  margin: 0 auto;
}
.tour {
  width:33.33%;
  float:left;
  text-align: center;
  padding-bottom: 2.0em;
}
.tour img {
  padding:.03em;
  border-radius: 50%;
}

a#button-booking{
  margin-top: .94em;
  margin-left: 7.5em;
  padding-bottom: 1em;
}
footer{
  background-color:#0F394B;
  color: #FFFFFF;
  width:100%;
  font-size: .75em;
  margin-left: 1em;
}
.footer_col
{
  width:33.33%;
  float: left;
  text-align: left; 
  margin-left: 1.25em 
}
span
{
  display: block;
  float:left;
  padding-bottom: 1.5em;
}
footer a{
  color: #82a5c4;
}
footer a:hover{
  color: #420a09;
}
@media only screen and (max-width:768px){
  body{
    font-size: 14px;
  }
  